asgiref
bcrypt
certifi
charset-normalizer
Django
django-environ
django-filter
djangorestframework
future
idna
pillow
requests
serializers
sqlparse
tzdata
urllib3
gunicorn
whitenoise
