{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<div class="product-detail-container">
    <div class="product-images-section">
        <div class="product-thumbnails">
            {% for image in product.images.all %}
                <img class="thumbnail-small" src="{{ image.image.url }}" alt="{{ product.name }}">
            {% endfor %}
        </div>
        <div class="product-main-image">
            {% if product.main_image %}
                <img class="thumbnail-large" src="{{ product.main_image.image.url }}" alt="{{ product.name }}">
            {% elif product.images.all|length > 0 %}
                <img class="thumbnail-large" src="{{ product.images.all.0.image.url }}" alt="{{ product.name }}">
            {% else %}
                <img class="thumbnail-large" src="{% static 'images/default.png' %}" alt="Default Image">
            {% endif %}
        </div>
    </div>
    <div class="product-info-section">
        <h2>{{ product.name }}</h2>
        <p><strong>Price:</strong> {{ product.price }}₴</p>
        <p>{{ product.description }}</p>
        <div class="product-buttons">
            <button data-product="{{ product.id }}" data-action="add" class="btn btn-success add-btn update-cart">Add to Cart</button>
            <a class="btn btn-outline-primary" href="{% url 'shop' %}">Back to Shop</a>
        </div>
    </div>
</div>
<script src="{% static 'js/product_detail.js' %}"></script>
{% endblock content %}
