{% extends 'shop/main.html' %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-lg-4">
		<img class="thumbnail" src="{% static 'images/prod1.png' %}">
		<div class="box-element product">
			<h6><strong>Nike Dunk Low SB</strong></h6>
			<h4 style="display: inline-block"><strong>$777</strong></h4>
			<hr>

			<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
			<a class="btn btn-outline-success" href="#">View</a>

		</div>
	</div>

	<div class="col-lg-4">
		<img class="thumbnail" src="{% static 'images/prod2.png' %}">
		<div class="box-element product">
			<h6><strong>New Balance 530</strong></h6>
			<h4 style="display: inline-block"><strong>$777</strong></h4>
			<hr>

			<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
			<a class="btn btn-outline-success" href="#">View</a>

		</div>
	</div>

	<div class="col-lg-4">
		<img class="thumbnail" src="{% static 'images/prod3.png' %}">
		<div class="box-element product">
			<h6><strong>Adidas Caroline Hu Samba</strong></h6>
			<h4 style="display: inline-block"><strong>$777</strong></h4>
			<hr>

			<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
			<a class="btn btn-outline-success" href="#">View</a>


		</div>
	</div>
</div>
{% endblock content %}

<!-- 476 x 578 -->
